extends layout

block content
  h1 Instagram
  p Welcome to my instagram WebScapping 
   
  form#searcher()
    input#nickname(type="text" name="nickname")
    input(type="submit")
  d#dataSpace 

  script(src="./javascripts/buscar.js") 